body {
  font-family: 'Nunito', sans-serif;
}

h1 {
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

h2 {
  font-weight: 800;
}

h3 {
  font-weight: 700;
}

p {
  font-size: 20px;
}


/******************** Media Query *********************/

/* Responsive - Breakpoint Medium 768px md */
@media screen and (min-width: 768px) {

}

/* Responsive - Breakpoint Extra Large 1200px xl */
@media screen and (min-width: 1200px) {

}
